<div class="container">
  <p class="chat-box question"><%= @question %></p>
  <p class="chat-box answer"><%= @answer %></p>

  <div class="btn btn-empty btn-round">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>

