<div class="container">
  <form class="inline-form" action="/answer" method="get">
    <input class="input-text" type="text" name="question" placeholder="Ask your coach anything">
    <input class="btn btn-fill" type="submit" value="Ask!">
  </form>
</div>
